@import '../abstract/variables';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        background-color: $cor-primaria;
        opacity: 0.9;
        border-radius: 30px;
        h1 {
        font-size: $tamanho-da-fonte;
        color: $cor-secundaria
        }
        h2 {
            font-size: calc($tamanho-da-fonte / 2);
            color: $cor-terciaria;
        }
    }
}